* {
  margin: 0;
  padding: 0;
}

.card-header {
  text-align: center;
  background-color: whitesmoke;
}

.card-body {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.60) 0%, rgba(255, 255, 255, 0.60) 0%), rgba(217, 217, 217, 0.60);
}
.card-body2 {
 height: 550px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 64px;
 padding: 0;
}

.yume-title-area {
  width: 500px;
  padding: 8px;
}
.yume-contents {
 
}
.yume-contents-area {
  width: 500px;
  height: 150px;
  padding: 8px;
}
/* 
.hassyu-area {
  width: 500px;
  padding: 8px;
  border: 1px;
}

.hassyutagu-box{
  width: 500px;
}

.hassyu{
  width: 500px;
} */

.post-buttons {
  text-align: center;
}

.cancel {
 margin-right: 32px;
 padding: 8px 12px;
 border-radius: 5px;
 border: none;
 border: 1px solid black;
}

.post {
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  border: 1px solid black;
}

.footer {
  position: fixed;
  bottom: 0;
}
