* {
  padding: 0;
  margin: 0;
}
body {
  background-image: url(../img/ballon-1.jpg);
  background-attachment: fixed;
  background-size: contain;
  background-size: cover;
  background-position: center;
  height: max-content;
}
/* header部分 */
header {
  display: flex;
  padding: 10px 32px;
  justify-content: space-between;
  align-items: center;
}

.create-button {
  padding: 8px 16px;
  background-color: green;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 48px;
}

@media screen and (max-width: 780px) {
  .create-button {
      width: 12vh;
      margin-bottom: 38px;
      margin-right: 48px;
      margin-left: 80px;
  }
}


.create-button > a {
  text-decoration: none;
  color: white;
}




.search-bar {
  height: 40px;
  border-radius: 5px;
  padding: 0 8px;
  margin-left: 48px;
}

@media screen and (max-width: 780px) {
  .search-bar {
      width: 16vh;
      margin-left: 1px;
  }
}


.search-button {
  height: 40px;
  width: 56px;
  background-color: skyblue;
  border-radius: 5px;
}


/* 投稿部分 */
.big-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 780px) {
  .big-container {
      flex-direction: column;
      width: 100%;
  }
}

.post-box {
  margin-top: 48px;
  margin-bottom: 70px;
  margin-left: 24px;
  margin-right: 24px;
  /* height: 500px; */
  width: calc(50% - 48px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #000;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.80) 0%), rgba(217, 217, 217, 0.80);
}

@media screen and (max-width: 780px) {
  .post-box {
      flex-direction: column;
      width: 85%;
      margin: 15px auto;
  }
}


.profile-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 25px auto;
  /* gap: 80px; */
  width: 100%;
}

@media screen and (max-width: 780px) {
  .profile-box {
      margin: 8px auto;
  }
}



.name-link {
 text-decoration: none;
 color: black;
}

.name {
  margin-bottom: 0;
}

.image-container img {
  width: 64px;
  border-radius: 50%;
  border: 1px solid black;
}

.occupation {
  font-size: 16px;
  margin-bottom: 0;
}

.post-content-cover {
  width: 90%;
  height: 80%;
  border: 3px solid black;
  border-radius: 5px;
}

.title {
  /* width: 474px; */
  padding: 12px;
  font-size: calc(1.305rem + 0.66vw);
}

.contents {
  padding: 8px;
  word-wrap: break-word;
  width: 100%;
}

.sns-icon {
font-size: 40px;
/* color: blue; */
}

.tags{
  width: 475px;
  padding: 8px;
  /* text-align: center; */
}

.post-content {
  /* width: 475px; */
  display: flex;
  flex-direction: column;
  align-items: start;
}

.contact-button {
  width: 80px;
  height: 60px;
}


.buttons {
  margin-top: 32px;
  display: flex;
  gap: 60px;
}

@media screen and (max-width: 780px) {
  .buttons {
      margin-top: 8px;
      gap: 30px
  }
}


.edit-button {
  padding: 8px 12px;
  background-color: skyblue;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
}


.delete {
  padding: 8px 12px;
  /* background-color: gray; */
  border-radius: 5px solid;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 5px;
}

form {
  margin:auto 0;
}
.bookmark {
  display: flex;
  align-items: center;
}
.bookmark-icon{
background-color: yellow;
padding: 8px 12px;
border-radius: 5px;
font-size: 32px;
display: flex;
align-items: center;
text-decoration: none;
}


.comment-button {
  text-decoration: none;
  padding: 8px 12px;
  background-color: orange;
  color: black;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.comment-rink {
  text-decoration: none;
  color: black;
  background-color: greenyellow;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 32px;
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}

@media screen and (max-width: 780px) {
  .comment-rink{
    margin-bottom: 8px;
    margin-top: 8px;
  }
}

.comment-watch {
  margin-bottom: 0;
}

.comment-box {
  width: 400px;
  border: 1px solid black;
  margin-bottom: 25px;
  border-radius: 5px;
}
.comment-body {
  border-top: 1px solid black;
}
.comment-name {
  margin-bottom: 0;
  padding: 8px;
}
.comment-date {
  margin-bottom: 0;
  padding: 8px;
}
.comment-text {
  margin-bottom: 0;
  padding: 8px;
}

/* .btn btn-sm {
  color: black;
  border: none;
  margin-left: 2px;
} */

@media screen and (max-width: 780px) {
  .header {
      padding: 6px 16px;
  }
}