* {
  padding: 0;
  margin: 0;
}
body {
  background-color: khaki;
}
/* header部分 */
header {
  display: flex;
  padding: 10px 32px;
  justify-content: space-between;
  align-items: center;
}

.create-button {
  padding: 8px 16px;
  background-color: green;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 48px;
}

.create-button>a {
  text-decoration: none;
  color: white;
}

.search-bar {
  height: 40px;
  border-radius: 5px;
  padding: 0 8px;
  margin-left: 48px;
}

.search-button {
  height: 40px;
  width: 56px;
  background-color: skyblue;
  border-radius: 5px;
}

/* 投稿部分 */
.post-box {
  margin-top: 48px;
  margin-bottom: 48px;
  margin-left: 48px;
  margin-right: 48px;
  width: 600px;
  /* height: 400px; */
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10%;
  background-color: #fff;
}

.profile-box {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin: 25px auto;
  gap: 80px;
}

.image-container img {
  width: 64px;
  border-radius: 50%;
  border: 1px solid black;
}

.occupation {
  font-size: 16px;
}

.post-content-cover {
  width: 480px;
  border: 3px solid black;
  border-radius: 5px;
}

.title {
  width: 474px;
  border-bottom: 2px solid red;
  padding: 8px;
}

.contents {
  padding: 8px;
}

.sns-icon {
font-size: 24px;
color: blue;
}

.tags{
  width: 550px;
  padding: 8px;
  /* text-align: center; */
}

.post-content {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.contact-button {
  width: 80px;
  height: 60px;
}


.buttons {
  margin-top: 32px;
  display: flex;
  gap: 60px;
}

.edit-button {
  padding: 8px 12px;
  background-color: skyblue;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.delete {
  padding: 8px 12px;
  /* background-color: gray; */
  border-radius: 5px solid;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 5px;
}
form {
  margin:auto 0;
}
.bookmark {
  display: flex;
  align-items: center;
}
.bookmark-icon{
background-color: yellow;
padding: 8px 12px;
border-radius: 5px;
font-size: 32px;
display: flex;
align-items: center;
text-decoration: none;
}


.comment-button {
  text-decoration: none;
  padding: 8px 12px;
  background-color: orange;
  color: black;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.comment-index {
  margin-top: 32px;
  margin-bottom: 32px;
}
.comment-box {
  width: 400px;
  border: 1px solid black;
  margin-bottom: 25px;
  border-radius: 5px;
}
.comment-body {
  border-top: 1px solid black;
}
.comment-name {
  margin-bottom: 0;
  padding: 8px;
}
.comment-date {
  margin-bottom: 0;
  padding: 8px;
}
.comment-text {
  margin-bottom: 0;
  padding: 8px;
}