* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #B0E57C;
  margin: 0;
  padding: 0;
  /* background-image: url("{{asset('storage/images/haikei2.png/')}}"); */
}

h1 {
  text-align: center;
}

.mypage {
  margin: 28px 64px 28px;
  padding: 64px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.80) 0%), rgba(217, 217, 217, 0.80);
  border-radius: 30px;
}

.profile {
  width: 370px;
  height: 370px;
  border-radius: 50%;
  border: 1px solid green;
}

.profile-content {
  /* border: solid 1px black; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-content {
  display: flex;
  align-items: center;
  width: 120%;
  justify-content: space-around;
}

.name-occupation {
  margin-right: 64px;
}

.name {
  font-size: 32px;
  text-align: center;
  border-bottom: 1px solid green;
}

.occupation {
  margin-top: 32px;
  font-size: 32px;
  border-bottom: 1px solid green;
}

.name>span,
.occupation>span {
  font-size: 24px;
}

.sns-icon {
  font-size: 56px;
  color: green;
  padding: 0 24px;
  border-radius: 50%;
  border: 1px solid green;
}

.mybookmark-box {
  border-radius: 10px;
  background-color: deepskyblue;
  ;
  padding: 8px;
  text-align: center;
  /* display: flex; */
  flex-direction: column;
  margin-top: 100px;
  /* margin-bottom: 80px; */
}

.mybookmark-box>p {
  font-size: 16px;
  margin-top: 8px;
}

.mybookmark {
  font-size: 24px;
  text-decoration: none;
  color: black;

}

.mybookmark-image {
  /* height: 80px; */
  width: 100px;
  margin-top: 32px;
}

.fas {
  color: black;
  font-size: 24px;
}

.bottom-content {
  width: 120%;
  height: 270px;
  border: 1px solid green;
  border-radius: 10px;
  margin-top: 56px;
  padding: 16px;
}

.introduction>h5 {
  text-align: center;
  padding-bottom: 16px;
}

.introduction p {
  word-wrap: break-word; 
}

.bottom-button {
  display: flex;
  justify-content: space-around;
}

.update {
  text-decoration: none;
  background-color: aquamarine;
  padding: 12px 24px;
  border-radius: 10px;
  text-align: center;
  color: black;
  font-size: 24px;
}

.back {
  padding: 12px 24px;
  background-color: orange;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-radius: 10px;
  font-size: 24px;
  color: black;
  border: none;
}

.watch-index {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.mypost-box {
    border-radius: 10px;
    background-color: gold;
    /* padding: 32px;  */
    /* width: 160px; */
    /* height: 350px; */
    text-align: center;
    display: flex;
    flex-direction: column;
    /* margin: auto 0;  */
    /* margin-top: 120px; */
    /* margin-bottom: 60px; */
    padding: 8px;
}

.bottom-button-box {
  margin-top: 64px;
}

.mypost {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

.post-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 80px;
}